/*general body - used by main portal document */ 
body{
	width: 100%;
	padding: 0;
	font-family: 'Trebuchet MS',Verdana,sans-serif;
	font-size:.8em;
	margin: 0;
	background: #fff;
}

body a:link {
	text-decoration: none !important;/*this has to be added to get rid of all underlines for the site*/
}

/*PART 1 - MAIN LAYOUT BLOCKS*/

/*outer wrapper for portal content (decorative - child is #portalContainer )*/
#portalOuterContainer{
	width: 100%;
}

/*inner wrapper for portal content (decorative - children are #header #container and #footer )*/
#portalContainer{
	width:100%;
}

/*wrapper masthead  and site navigation 
 two possible states - logged in headerMax, not logged in - headerMin*/
#headerMax, #headerMin{
	width: 100%;
	/* margin: 1em auto 0 auto; */
	margin: 0;
	padding: 0;
	height:100%;
	background: #343538;/*changed background color of home page*/
	overflow:visible;
}
#headerMin{
	/*border-bottom:2px solid #001c3a eliminate only with home page login between header and body */
}

/*accessibility links wrapper */
#skipNav{
}

/*site hierarchy breadcrumb*/
#siteHierarchy{
        clear:both;
        float:none;
        margin:0;
        list-style: none;
        padding:.5em 0;
}
/*style the standard breadcrumbseparator
can set display:none if needed because the list-style is taking care of it*/
.breadSeparator{
}
#siteHierarchy li{
        display:inline;
}
#siteHierarchy li a, #siteHierarchy li a:visited{
        color:#001c3a;
}

/*wrapper for site content (includes as children #toolMenuWrap,#content and #footer)*/
#container{
	width: 100%;
	clear:both;
	float:none;
}

/*wrapper for #toolMenu - children are #worsiteLogo,#toolMenu*/
#toolMenuWrap{
	float: left;
	color: #000;
	padding: 0em 0em .5em 0em;
	margin: 0;
	background-color: #DBDBDB;
	/*position:fixed; fixes the positioning of the navigation bar have to take out because longer menus mess things up*/
	height:900px;/*makes the div element color extend all the way down. Need to make it stay up as well. Temporary fix doesn't work all the time especially for navs with alot of left tabs.*/
}

#toolMenuWrap:hover{
/*	border-right:2px solid #001c3a; */
	}
/*depending on site type - different hover effects for the tool menu parent block
site types are a local setting - adjust */
.workspace #toolMenuWrap:hover{
	/* border-right:2px solid #aaa; */
}
.course #toolMenuWrap:hover{
	/* border-right:2px solid #FC6; */
}
.project #toolMenuWrap:hover{
	/* border-right:2px solid #9CF; */
}


/*wrapper for site content (portlets) -  children can be #col1 or #col1of2 and #col2of2 depending in the number of columns*/
#content{
	padding: 0 .5em 0 .5em;
	margin-left: 185px; 
	margin-top: 0em;
}
/*margin tweak for IE to avoid float drop*/
* html #content{margin-left:14em}
/*wrapper for footer blocks*/
#footer{
	color: #fff;
	font-size: x-small;
	margin: 0px;
	padding: 0;
	width: 100%;
	clear: both;
	top: 0;
	text-align: center;
	background-color: #343538;
	position:relative;
	z-index:1;/*added position and z-index to footer to allow it to stay on top for now*/
}
#footer.sakaiCopyrightInfo {
	color: #fff;
}
DIV.footerExtNav {
	display: none;
}
#footerInfo {
	display: none;
}

/*PART 2 - HEADER IFRAME SETTINGS*/	
/*iframe sizes for different states*/
/*gone for 2.3
.sitenav-log{
	user not logged in
	height: 90px;
	width: 100%;
	border-bottom:1px solid #001c3a
}

.sitenav-max{
	user logged in 
	height: 7.8em;
	width: 100%;
	margin: 0;
	padding: 0;
}

* html .sitenav-max{
	user logged in - iframe height tweak for IE
	height: 8em;
	}
.sitenav-min{
	no logos or banners
	height: 2em;
	width: 100%;
}*/

/*PART 3 - HEADER BLOCKS (BRANDING,LOGIN)*/
/*depending on site type - different border-bottoms for the site menu parent block
site types are a local setting - adjust */
.workspace .siteNavWrap{
	border-bottom:3px solid #001c3a;
	background: #4a6594;
}
.course .siteNavWrap{
	border-bottom:3px solid #001c3a;
	background: #4a6594;
}
.project .siteNavWrap{
	border-bottom:3px solid #001c3a;
	background: #4a6594;
}
#siteNavWrapper{
	margin: 0;
	padding: 0;
	background: #4a6594;
}



/*wrapper for mast head elements - children are 3 blocks - #mastLogo,#mastBanner,#mastLogin*/
#mastHead{
	clear: both;
	margin: 0;
	padding: 0;
	height: 100%;
	background: #343538;/*New background color*/
	overflow: hidden;
	background-image: url(http://www.gatech.edu/sites/all/themes/gt/images/logos/logo-gt.png);
	background-position: 0px 0px;
	background-repeat:no-repeat;
	position: relative;
}

/*container wrapping branding images - portal outputs one /library/skin/<skin name>/images/logo_inst.gif
that can be used or hidden,can also use a background:url(images/<image name>.<ext>) in this block,or both superimposing them*/
#mastLogo{
	float: left;
	margin-left: 0.2em;
	width: auto;
	background: #4a6594;
	padding: 0;
}

/*the portal outputs an image that can be treated here or hidden with display:none*/
#mastLogo img{
	/* margin: 1em .5em; */
	margin: 0;
	background: #4a6594;
}

/*another container wrapping branding images - portal outputs one /library/skin/<skin name>/images/banner_inst.gif
that can be used or hidden,can also use a background:url(images/<image name>.<ext>) in this block,or both superimposing them*/
#mastBanner{
	width: auto;
	vertical-align: top;
	float: left;
	background: #4a6594;
	margin: 0;
	padding: 0;
}

/*the portal outputs an image that can be treated here or hidden with display:none*/
#mastBanner img{
	/* margin: 1em .5em; */
	margin: 0;
	padding: 0;
	background: #4a6594;
	border: 0;
	visibility: hidden;
	width: 1px;
	height: 2px;
}

/*container wrapping,depending on Sakai settings:1) a login form,2) a login link for CAS,3) a logout link*/
#mastLogin{
	float: right;
	text-align: right;
	vertical-align: top;
	/*background: #4a6594 url(images/newlogo.gif) no-repeat;*/
	margin: 2px 0 0 0; 
	/*padding: 0 10px 0 0;*/
	width: 7em;
	height: 80px; /*changed height a little to uncrowd logout button*/
}

/*the anchor for the login link for CAS above can be an image - treated here*/
#mastLogin img{
	margin: 0;
	padding: 0;
	border: 0;
	background: #4a6594;
}

/*login links for CAS,logout link*/
#mastLogin a,#mastLogin a:visited{
	color: #ffffff;
	font-weight: 700;
	margin: 0;
	padding: 10px 12px;
	/*border: 1px solid #001c3a;*/
	background: #EEB211;/*changed color*/
	text-decoration: none;
	border-radius: 0 0px 0 5px;
	/*transition-property: all 0.3s ease 0s;*/
	 /*added transition effect for logout button*/
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#mastLogin a:hover{
	color: #000; /*changed login hover colors:*/;
	text-decoration: none;
	margin: 0;
	padding: 2px 15px 55px 25px;/*added lengthing on right side of logout */
	/*border: 1px solid #001c3a;*/
	background: #fff;
}

/*login form elements - in order,form,userid field,password field,login button - first 2 have labels associated with them,gettable as #loginForm label{
}

#loginForm is the form for login - contains children #eid #pw #submit*/
#loginForm{
	margin: 0.5em 0;
}

#eid{
	border: 1px solid #aaa;
	padding: 3px;
	margin-left: .5em;
	width: 7em;
}

#pw{
	border: 1px solid #aaa;
	padding: 3px;
	margin-left: .5em;
	width: 7em;
}

#loginForm label{
	color: #000;
	padding: 0 .5em
}

#submit{
}

#submit:hover{
	color: #001c3a;
}

/*block for login/logout links */
#loginLinks{
	margin:0; 
	padding: 0;
}

/*main CAS link*/
#loginLink1{
}

/*secondary CAS link*/
#loginLink2{
}

/*PART 4 - SITE NAVIGATION - children of #siteNavBlock*/
/*outer wrapper for the site navigation blocks - it is a class,not an id because it can be overloaded with other values having to do with site type
so for example <div class="tabHolder workspace"> so that different site types can be treated differently via inheritance - children are #siteNavWrap and #navBottom*/

.siteNavWrap {
	position: relative;
	width: 100%;
	background: #343538;
	float: left;
	clear: both;
	font-size: 100%;
	line-height: normal;
	z-index: 2000;
	margin: 0;
	padding: 0;
}

/*wrapper for the site links and site <select> blocks - children are #siteNav and #tabNav */
#siteNav{
	width:100%;
	background: #4a6594;
	margin: 0;
	padding: 0;
}

/*wrapper for the site link list   - the #siteLinkList child)*/
#linkNav{
	position: relative;
	display: block;
	float:left;
	margin: 0;
	padding: 0;
}

/*wrapper for the site <select> that is displayed when more than x sites are in the link list*/
#selectNav{
	padding: 0;
	text-align: right;
	vertical-align: middle;
	margin: 0.2em 0 0 0.6em;
	float: left;
	border-radius: 0 0 4px 4px;
	border-color: #343538;
}

/*the <select> contextually defined*/
#selectNav select{
	display:inline;
	font-size: .9em;
	margin: 7px 0 0 ;
	padding: 0;
	border: 3px solid #EEB211;
}

#selectNav select option{
	background: #fff;
}

/*a ul - the li below are outer wrappers for the links to sites */
#siteLinkList{
	white-space: nowrap;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;	
	padding: 0 0 0 0px;
	float: left;
}

/*list elements - children are <span> and <a>*/
#siteLinkList li {
	position: relative;
	display:block;
	float:left;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0 rgba(255, 255, 255, 0.1) inset;
	padding: 10px 5px;
	/* margin-right:2px; */ /*Added margin right in there to space out tiles*/
	/*added tons in here padding, box-shadow, border etc and all the transition elements*/
	border-radius: 1px;
	/*transition-property: all 0.3s ease 0s;*/
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/*links to other sites*/
#siteLinkList li a, #siteLinkList li a:link, #siteLinkList li a:visited {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	display: block;
	float: left;
	/*background: transparent url(images/tab-left.gif) no-repeat scroll left top;*/
	/*margin: 0 2px 0 0; got rid of this*/
	padding: 0 0 0 11px;
	/*border-bottom: 2px solid #001c3a;*/
}

#siteLinkList li a:hover {
	text-decoration: none;
	/*background-color: #EEB211;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s; don't need anymore*/

}
/*completely new addition to the code*/
#siteLinkList li:hover {
	text-decoration: none;
	background-color: #EEB211;

}


#siteLinkList li span {
	display: block;
	/*background: transparent url(images/tab-right.gif) no-repeat right top;*/
	padding: 8px 13px 3px 2px;
	margin: 0pt;
}

/*the current sites' link - consists of the li and a*/

#siteLinkList li.selectedTab a,
	#siteLinkList li.selectedTab a:link,
	#siteLinkList li.selectedTab a:visited,
	#siteLinkList li.selectedTab a:hover {
	color: #fff;/*changed selected text color to white removed font-weight since inherited. Removed Background images*/
	text-decoration: none;
	border-width: 0;
}

#siteLinkList li.selectedTab a span{
	color: #fff;/*background:transparent url(images/tab-right-selected.gif) no-repeat scroll right top; padding: 8px 11px 5px 0; Eliminated these */
}

#siteLinkList li.selectedTab {
	background-color: #EEB211;
	color: #fff;
}

#siteLinkList li.tab-dim a,
	#siteLinkList li.tab-dim a:link,
	#siteLinkList li.tab-dim a:visited,
	#siteLinkList li.tab-dim a:hover {
	color: #666;
	/* background: transparent url(images/tab-left-selected.gif) no-repeat scroll left top; */
}

#siteLinkList li.tab-dim a span {
	padding-bottom: 3px;
}

/* more tab */
#siteLinkList li.more-tab a span.inner {
	background-image:  url(images/tab-arrow-down-active.gif);
	background-repeat: no-repeat;
	background-position: 100% 36%;
	padding: 0 20px 0 0;
	margin: 0;
}

#siteLinkList li.more-active a,
	#siteLinkList li.more-active a:link,
	#siteLinkList li.more-active a:visited {
	color:#fff;
	/*font-weight: bolder; removed */
	text-decoration: none;
	/*background: transparent url(images/tab-left-selected.gif) no-repeat scroll left top;	
	border-width: 0; removed */
}

#siteLinkList li.more-active a:hover {
	text-decoration: none;
}

#siteLinkList li.more-active a span {
	padding-bottom: 5px;
}

#siteLinkList li.more-active a span.inner {
	background-image: url(images/tab-arrow-down-active.gif);
}

.fixTabsIE{
	visibility: hidden;
	display: none;
	border-width: 0;
}

/*wrapper for the site <select> that is displayed when more than x sites are in the link list*/
.dhtml_more_tabs {
	position: absolute;
	top: 2.5em;
	right: 4px;
	line-height: 1.5em;
	background-color: #FFFFFF; 
	border: 2px solid #001c3a;
	border-top-width: 0;
	width: 75%;
	z-index: 9999;
}

html>body .dhtml_more_tabs {
	right: 2px;
}

.dhtml_more_tabs div.termContainer {
	float: left;
	padding: 0.8em;
	text-align: left;
	width: 28%;
}
	
.dhtml_more_tabs h4 {
	font-size: 1.06em;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.dhtml_more_tabs  ul {
	list-style: none;
	margin: 0;
	padding: 0;	
}

.dhtml_more_tabs  li {
	margin-bottom: 0.4em; 
	line-height: 1.1em;
}

.dhtml_more_tabs div:first-child {
	border-left: none;
}

.dhtml_more_tabs a:link, .dhtml_more_tabs a:visited, .dhtml_more_tabs active{
	color: #001c3a; 
	font-weight:700;
	text-decoration: none !important;
}

.dhtml_more_tabs a:hover {
	color: #001c3a;
	text-decoration: underline !important;
}

#more_tabs_instr  {
	color: #333;
	font-size: 1em;
	margin: 0.4em 0.8em 0.8em;
	padding-top: 0.4em;
	clear: both;
	border-top: 1px solid #CCC;
	text-align: left;
	line-height: 1.1em;
}

#portalMask {
	background-color: #EEEEEE; 
	position: absolute;
	z-index: 9000;
	top:0;
	left:0;
	filter:alpha(opacity=50);
	opacity: 0.50;
	-moz-opacity: 0.50;
}

/*block in case need to display any decorative element above or below the .tabHolder block*/
#navBottom{
	display: none;
}

/*PART 5 - SITE TOOL LINKS  - children of #toolMenuWrap	*/
/*wrapper for ul that lists the links to tools*/
#container #toolMenu {
	width: 170px;
	padding: 0 0 11px 0;
	margin: 0;
}

/*deleted four rules of pictures.*/

#toolMenu ul{
	width: 100%;
	list-style: none;
	margin: 0 -10px auto 0;
	padding: 20px 0 0 0; 
}

#toolMenu li{
	width: auto;
	padding: 3% 3%;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0 rgba(255, 255, 255, 0.1) inset;
	border-radius: 1px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	
}

/*span shim for fine grained manipulation of link display (decorative)
also hide if are going to be using icon links (as background of <a> nad <li>
*/

#toolMenu li.selectedTool {
	display: block;
	background-color: #EEB211;
	padding: 3% 3%;
}

#toolMenu li span{
	color: #333;
	font-weight:700;
}

#toolMenu li a:link,#toolMenu li a{
	display: block;
	color: #343538;
   margin: 0 6px;
	padding: 4px 22px;
  background-repeat: no-repeat;
}
#toolMenu li:hover{
	text-decoration: none;
	color: #000;
	background-color: #EEB211;
}

#toolMenu li a.selected{
	text-decoration: none;
	color: #000;
	padding: 2% 0 2% 0;
}

#toolMenu li a.selected:hover{
	text-decoration: none;
	color: #000;
	padding: 2% 0 2% 0;
}



/*PART 6 - SITE AFFILIATION,SITE TYPE/STATUS AND PRESENCE - children of #toolMenuWrap	*/
/*site logo wrapper*/
#worksiteLogo{
	width: 9.7em;
	height: auto;
	overflow: hidden;
	display: block;
}

/*site logo image - Sakai may output,depending on installation,an image here based in site affiliation. Site owner may also point to a url - overriding the Sakai provided image*/
#worksiteLogo img{
	display: block;
	margin: .5em auto;
}

/*wrapper for the string that Sakai will output based on site type (ie. project,course) this is open ended and institution specific*/
#siteType{
	display: none;
}

/*wrapper for the string that Sakai will output based on site status when status is "Unpublished"*/
#siteStatus{
	text-transform: capitalize;
	text-align: left;
	background: url(images/warn.gif) .2em center no-repeat #fff;
	border: 1px solid  #aaa;
	clear: both;
	color: #aaa;	
	font-size: 	small;
	margin: 5px 2px 15px 2px;
	padding: 3px 3px 3px 2em;
}

/*wrapper for all elements of presence display */
#presenceWrapper{
	width: 9.65em;
	margin-top: .5em;
}

/*wrapper for title of iframe ("Users present")*/
#presenceTitle{
	font-size: .7em;
	text-align: right;
	margin-right: .5em;
}

/*of presence iframe*/
#presenceIframe{
	height: 100px;
	margin: .3em;
	width: 8.8em;
}

/*PART 7 - PORTLETS - children of #content*/
/*a page may display portlets in one column or two columns - the next three id selectors address the three possiblities - sole child of column is the .portlet */
#col1{
	width: 100%;
	float: left;
	margin: 1.5em 0;
	min-width: 400px;
}

#col1of2{
	width: 50%;
	float: left;
	margin: 1.5em 0;
	min-width: 400px;
}

#col2of2{
	width: 50%;
	margin: 1.5em 0;
	float: left;
	min-width: 400px;
}

/*wrapper class for portlets - decorative -  contains two wrapper block children:.portletTitleWrap and  .portletMainWrap*/
.portlet{
}

/*.portletTitleWrap are wrappers for the tool title documents,
below they are contextually defined depending on the column as an example,as you may want to adjust the widths accordingly*/ 
#col1 .portletTitleWrap{
	width: 99%;
	border-bottom: 1px solid #dadada;/*changed color*/
}

#col1 .portletMainWrap{
	width: 99%;
}

#col1of2 .portletTitleWrap,#col2of2 .portletTitleWrap{
	width: 98.5%;
	border-bottom: 1px solid #ccc;
}

#col1of2 .portletMainWrap,#col2of2 .portletMainWrap{
	width: 98.5%;
	margin-bottom: .5em;
}

.portletTitle{
	width: 100%;
	height:100%;
	overflow:hidden;
	text-transform: uppercase;
}

.portletTitle .title img{
	margin: 0;
	vertical-align: text-bottom;
	width: 18px;
	border:none;
	height: 16px;
}

.portletTitle .title{
	padding: 15px 4px 15px 0px;/*adding more padding*/
	height: 1em;
	float: left;
	color: #000;
}

.portletTitle .title h2{
	display: inline;
	margin: 0 0 0 .2em;
	padding: 0;
	color: #001c3a;
	font-weight: bold;
	font-size: 1.2em;
}

.portletTitle .title a{
	background: url(images/application_home.png) center left no-repeat;
	text-decoration: none !important;
}

.portletTitle .title a:hover{
	background: url(images/application_home.png) center left no-repeat;
}

.portletTitle .action{
	padding: 15px 4px 15px 0px;/*more padding to title*/
	text-align: right;
	vertical-align: middle;
}

.portletTitle .action img{
	margin: 0;
	border:none;
	vertical-align: text-bottom;
	width: 16px !important;
}

.portletTitle .action a{
	background: url(images/help.png) center right no-repeat;
	text-decoration: none !important;
}

.portletTitle .action a:hover{
	background: url(images/help_h.gif) center right no-repeat;
}

.portletTitle .action a#jsr-edit{
        padding:2px;
        background: url(images/page_edit.gif) center right no-repeat;
}
        
.portletTitle .action a#jsr-edit:hover{
        background: url(images/page_edit.gif) center right no-repeat;
}       

/*iframes for portlet title and portlet content*/
/*gone for 2.3
.portletTitleIframe{
	margin: 0;
	height: 1.8em;
	width: 100%;
}
*/
.portletMainIframe{
	text-align: left;
	margin-bottom: .5em;
	height: auto;
	border: none;
}

/*PART 8 - FOOTER BLOCKS - descendants of #footer TODO - unpack the 3 descendants and make them all children*/
/*wrapper for links going to external sites - links are output as a series  separated via pipes (TODO:make a list already)*/
.footerExtNav{
	padding-top: .5em;
	padding-bottom: .5em;
}

/*the links displayed inside the wrapper above*/
.footerExtNav a,.footerExtNav A:link,.footerExtNav A:visited{
	color: #000;
	text-decoration: none;
	margin: 1em;
}

.footerExtNav a:hover{
	color: #aaa;
	text-decoration: underline;
	margin: 1em;
}

/*a second wrapper - server info,build,etc*/
#footerInfo{
	font-size: xx-small;
	text-align: center;
	clear: both;
	padding-bottom: 1em;
}

#footerInfo img{
	margin-top: .5em;
	margin-bottom: .5em;
}

/*a third wrapper - reserved for copyright blurbs*/
.sakaiCopyrightInfo{
	color: #fff;
}

/*PART 8 - CONVENIENCE*/
/*used to hide various blocks from sighted users that are in the source to help with accessibility*/
.skip{
	display: inline;
	position: absolute;
	top: -999px;
	left: -999px;
	height: 0;

}


/** Privacy Popup Styles **/
div#privacy_tool_popup {
    position: absolute;
    background: #fff;
    color: #000;
    border: 4px solid #0198CD;
    width: 450px;
    top: 20%;
    left: 50%;
    margin-left: -225px;
    z-index: 1000;
    padding: 5px 5px 5px 10px;
}

div#privacy_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
   z-index: 0;
}
/*Got rid of all of these images and replaced it with the below.*/
.toggleToolstoggleNav img#toggleToolMax{
  	width: 0;    
	height: 0;   
	border-top: 10px solid transparent;   
	border-bottom: 10px solid transparent;       
	border-left: 15px solid #fff;
}
.toggleToolstoggleNav #toggleNormal{
		width: 0;    
	height: 0;   
	border-top: 10px solid transparent;   
	border-bottom: 10px solid transparent;       
	border-left: 15px solid #fff;
}
.toggleNav #toggleToolMax{
		width: 0;    
	height: 0;   
	border-top: 10px solid transparent;   
	border-bottom: 10px solid transparent;       
	border-left: 15px solid #fff;
}
.toggleNav #toggleNormal{
		width: 0;    
	height: 0;   
	border-top: 10px solid transparent;   
	border-bottom: 10px solid transparent;       
	border-left: 15px solid #fff;
}  

.toggleTools #toggleToolMax{
	width: 15%;
	height: 20px;	
	margin: 2% auto;	
	width: 0;    
	height: 0;   
	border-top: 10px solid transparent;   
	border-bottom: 10px solid transparent;       
	border-right: 15px solid #fff;
}
.toggleTools #toggleNormal{
	
	width: 0;    
	height: 0;   
	border-top: 10px solid transparent;   
	border-bottom: 10px solid transparent;       
	border-left: 15px solid #fff;
	
}
/*The above fixes the arrows for the collapsing of the menu to reflect correctly.*/
.sakaiMinimizePageNavigation #toolMenu li a, .sakaiMinimizePageNavigation #subSites li a{
	display:block;
	padding-right:0 !important;
  margin: 2px;
  height: 8px;
  width:22px;
}
#container.sakaiMinimizePageNavigation #toolMenu{
	width:22px;
  /*background: url("images/collapsed-footer.gif") no-repeat scroll left bottom transparent;*/
}

#container.sakaiMinimizePageNavigation #toolMenu ul {
	width: 30px;/*allowed minimized menu to be flush with items.*/
  
	/* background: url("images/collapsed-tools.gif") no-repeat scroll left top transparent; */
}

.sakaiMinimizePageNavigation #worksiteLogo, .sakaiMinimizePageNavigation #presenceWrapper{
	display:none
}
.sakaiMinimizePageNavigation #toolMenu li span,.sakaiMinimizePageNavigation #subSites li span{
    position:absolute; 
    left:-10000px; 
    top:auto; 
    width:1px; 
    height:1px; 
    overflow:hidden; 
}
.sakaiMinimizePageNavigation #toolMenuWrap, .sakaiMinimizePageNavigation #toolMenuWrap:hover{
	width:30px;/*allowed for minimized menu to be flush with items*/
	margin-right:1em;
	border-right:none;
}
.sakaiMinimizePageNavigation #content{
	padding-left:2em;
	margin-left:30px;/*just changed one pixel to make even*/
}
.sakaiMinimizeSiteNavigation #siteNavWrapper{
	display:none;/*added semi-colon*/
}
.sakaiMinimizeSiteNavigation #headerMax{
	padding:0;
	margin:0; 
}

#toolMenuWrap #toggler {
	display:block;
    position:relative;
    width:100%;
    
	height:16px;/*made even number again*/
    
	text-align:right;
}
/** Portal Timeout **/
#timeout_alert_body {
    position: absolute;
    background: #fff;
    color: #000;
    border: 4px solid #343538;
    width: 450px;
    top: 20%;
    left: 50%;
    margin-left: -225px;
    z-index: 10000;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    font-weight: 700;
    /*added different border color and border radius*/
}
/* PART 9 - Tool Icons */

.icon-osp-evaluation {
	background-image: url(../../image/silk/thumb_up.png);
}

.icon-osp-glossary {
	background-image: url(../../image/silk/text_list_bullets.png);
}

.icon-osp-matrix {
	background-image: url(../../image/silk/table.png);
}

.icon-osp-presentation {
	background-image: url(../../image/silk/briefcase.png);
}

.icon-osp-presLayout {
	background-image: url(../../image/silk/layout_content.png);
}

.icon-osp-presTemplate {
	background-image: url(../../image/silk/application_view_tile.png);
}

.icon-osp-style {
	background-image: url(../../image/silk/style.png);
}

.icon-osp-wizard {
	background-image: url(../../image/silk/wand.png);
}

.icon-sakai-announcements {
	background-image: url(../../image/silk/flag_blue.png);
}

.icon-sakai-chat {
	background-image: url(../../image/silk/user_comment.png);
}

.icon-sakai-datapoint {
	background-image: url(../../image/silk/chart_line.png);
}

.icon-sakai-discussion {
	background-image: url(../../image/silk/comments.png);
}

.icon-sakai-dropbox {
	background-image: url(../../image/silk/folder_page.png);
}

.icon-sakai-emailtemplateservice {
	background-image: url(../../image/silk/email_edit.png);
}

.icon-sakai-gmt {
	background-image: url(../../image/silk/award_star_gold_3.png);
}

.icon-sakai-help {
	background-image: url(../../image/silk/help.png);
}

.icon-sakai-iframe {
	background-image: url(../../image/silk/page_world.png);
}

.icon-sakai-iframe-site {
	background-image: url(../../image/silk/house.png);
}

.icon-sakai-mailbox {
	background-image: url(../../image/silk/email.png);
}

.icon-sakai-messages {
	background-image: url(../../image/silk/comment.png );
}

.icon-sakai-metaobj {
	background-image: url(../../image/silk/application_form.png);
}

.icon-sakai-membership {
	background-image: url(../../image/silk/group.png);
}

.icon-sakai-news {
	background-image: url(../../image/silk/rss.png);
}

.icon-sakai-podcasts{
	background-image: url(../../image/silk/ipod_cast.png );
}

.icon-sakai-postem{
	background-image: url(../../image/silk/database_table.png );
}

.icon-sakai-preferences{
	background-image: url(../../image/silk/cog.png );
}

.icon-sakai-rutgers-linktool{
	background-image: url(../../image/silk/application.png);
}

.icon-sakai-sections{
	background-image: url(../../image/silk/group_gear.png );
}

.icon-sakai-singleuser{
	background-image: url(../../image/silk/user.png );
}

.icon-sakai-syllabus{
	background-image: url(../../image/silk/script.png );
}

.icon-blogger, .icon-sakai-clog{
	background-image: url(../../image/silk/book_edit.png );
}

.icon-sakai-assignment-grades{
	background-image: url(../../image/silk/page_edit.png );
}

.icon-sakai-forums{
	background-image: url(../../image/silk/comments.png );
}

.icon-sakai-gradebook-tool{
	background-image: url(../../image/silk/report.png);
}

.icon-sakai-mailtool {
	background-image: url(../../image/silk/email_go.png );
}

.icon-sakai-poll{
	background-image: url(../../image/silk/chart_bar.png);
}

.icon-sakai-sitestats {
	background-image: url(../../image/silk/chart_bar.png);
}

.icon-sakai-sitestats-admin {
        background-image: url(../../image/silk/chart_line.png);
}

.icon-sakai-presentation {
	background-image: url(../../image/silk/monitor.png);
}

.icon-sakai-profile {
	background-image: url(../../image/silk/vcard_edit.png);
}

.icon-sakai-reports {
	background-image: url(../../image/silk/report_magnify.png);
}

.icon-sakai-resetpass {
	background-image: url(../../image/silk/key.png);
}

.icon-sakai-resources {
	background-image: url(../../image/silk/folder.png);
}

.icon-sakai-rwiki {
	background-image: url(../../image/silk/page_white_edit.png);
}

.icon-sakai-samigo {
	background-image: url(../../image/silk/pencil.png);
}

.icon-sakai-schedule {
	background-image: url(../../image/silk/calendar.png);
}

.icon-sakai-search {
	background-image: url(../../image/silk/find.png);
}

.icon-sakai-siteinfo {
	background-image: url(../../image/silk/application_lightning.png );
}

.icon-sakai-sitesetup{
	background-image: url(../../image/silk/application_lightning.png );
}

.icon-sakai-site-roster {
	background-image: url(../../image/silk/vcard.png);
}

.icon-sakai-synoptic-messagecenter{
background-image: url(../../image/silk/comment.png);
}

.icon-sakai-conferencing {
    background-image : url(../../image/silk/webcam.png);
}

.icon-sakai-profile2 { 
	background-image: url(../../image/silk/vcard.png); 
} 

/*admin tools*/
.icon-sakai-users{
	background-image: url(../../image/silk/folder_user.png);
}
.icon-sakai-aliases{
	background-image: url(../../image/silk/tag_blue.png);
}
.icon-sakai-sites{
	background-image: url(../../image/silk/application_cascade.png);
}
.icon-sakai-realms{
	background-image: url(../../image/silk/sitemap_color.png);
}
.icon-sakai-online{
	background-image: url(../../image/silk/report_user.png);
}
.icon-sakai-memory{
	background-image: url(../../image/silk/server_chart.png);
}
.icon-sakai-archive{
	background-image: url(../../image/silk/page_white_compressed.png);
}
.icon-sakai-scheduler{
	background-image: url(../../image/silk/clock.png);
}
.icon-sakai-su{
	background-image: url(../../image/silk/user_go.png);
}
.icon-sakai-usermembership{
	background-image: url(../../image/silk/drive_user.png);
}

.icon-sakai-motd { 
	background-image: url(../../image/silk/house.png); 
} 
.icon-sakai-sitebrowser { 
	background-image: url(../../image/silk/world.png); 
} 
.icon-sakai-createuser { 
	background-image: url(../../image/silk/user_add.png); 
} 
.icon-sakai-subsite { 
	background-image: url(../../image/silk/chart_organisation.png); 
}
.icon-sakai-iframe-service {
	background-image: url(../../image/silk/house.png);
}
.icon-sakai-iframe-myworkspace {
	background-image: url(../../image/silk/house.png);
}
.icon-sakai-basiclti { 
	background-image: url(../../image/silk/application_go.png); 
}
.icon-sakai-mneme { 
	background-image: url(../../image/sakai/tool-icons/sakai.mneme.png); 
} 
.icon-sakai-mneme-admin { 
	background-image: url(../../image/sakai/tool-icons/sakai.mneme.admin.png); 
} 
.icon-sakai-jforum-tool { 
    background-image: url(../../image/sakai/sakai.jforum.tool.png); 
} 
.icon-sakai-melete { 
    background-image: url(../../image/sakai/tool-icons/sakai.melete.png); 
} 

/* Non-standard tools */

.icon-sakai-blogwow {
	background-image: url(../../image/silk/book_edit.png);
}

.icon-sakai-gradebook-gwt-rpc {
	background-image: url(../../image/silk/report.png);
}

.icon-sakai-signup {
	background-image: url(../../image/silk/calendar_edit.png);
}

a[class*='icon-sakai-lti-'] { 
	background-image: url(../../image/silk/application_go.png); 
}

a.icon-sakai-lti-piazza {
	background-image: url(images/piazza.png);
}

.icon-sakai-turningtool {
	background-image: url(images/tt.png);
}

a[class*='icon-sakai-lti-wimba-'] {
	background-image: url(images/wimba.png);
}

a.icon-sakai-lti-gatech-digitalmedia {
  background-image: url(../../image/silk/film.png);
}


/*******************Mobile Dev Section****************************/


@media all and (max-device-width: 767px), all and (max-width: 760px) {

#portalOuterContainer {
	 	position:static;
		float:none;
		clear:both;
		width:auto;
		height:auto;
		overflow:visible;
		min-width:0;
		min-height:0
}

#portalContainer{
		position:static;
		float:none;
		clear:both;
		width:auto;
		height:auto;
		overflow:visible;
		min-width:0;
		min-height:0
}

#siteNavWrapper{
	margin: 0;
	padding: 0;
	background: #4a6594;
}

#toolMenuWrap{
	color: #000;
	padding: 0em 0em .5em 0em;
	margin: 0 auto;
	background-color: #DBDBDB;
    width: 640px;
	height:100%;
}

#toolMenu li{
	width: 640px;
	padding: 5% 0% !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0 rgba(255, 255, 255, 0.1) inset;
	border-radius: 1px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#siteLinkList li {
    width:45% !important;
	display:block;
	float:left;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0 rgba(255, 255, 255, 0.1) inset;
	padding: 10px 5px;
	border-radius: 1px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
    
#siteLinkList li span {
	display: block;
	padding: 8px 13px 3px 2px;
	margin: 0pt;
    font-size: .85em;
}

#content{
	padding: 0 .5em 0 .5em;
	margin-top: 0em;
    float: left; 
}


#col1{
	width: 100%;
	float: left;
    margin: 1.5em 0;
	margin-left: -14em;
	min-width: 620px;
}

#col1of2{
	width: 50%;
	float: left;
	margin: 1.5em 0;
    margin-left: -14em;
	min-width: 620px;
}

#col2of2{
	width: 50%;
	margin: 1.5em 0;
	float: left;
    margin-left: -14em;
	min-width: 620px;
}


}/*end of media query*/

@media all and (max-device-width: 500px), all and (max-width: 498px) {


#portalOuterContainer {
	 	position:static;
		float:none;
		clear:both;
		width:auto;
		height:auto;
		overflow:visible;
		min-width:0;
		min-height:0
}

#portalContainer{
		position:static;
		float:none;
		clear:both;
		width:auto;
		height:auto;
		overflow:visible;
		min-width:0;
		min-height:0
}

#siteNavWrapper{
	margin: 0;
	padding: 0;
	background: #4a6594;
}

#toolMenuWrap{
	color: #000;
	padding: 0em 0em .5em 0em;
	margin: 0 auto;
	background-color: #DBDBDB;
    width: 480px;
	height:100%;
}

#toolMenu li{
	width: 480px;
	padding: 5% 0% !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0 rgba(255, 255, 255, 0.1) inset;
	border-radius: 1px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#siteLinkList li {
    width:45% !important;
	display:block;
	float:left;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0 rgba(255, 255, 255, 0.1) inset;
	padding: 10px 5px;
	border-radius: 1px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
    
#siteLinkList li span {
	display: block;
	padding: 8px 13px 3px 2px;
	margin: 0pt;
    font-size: .85em;
}

#content{
	padding: 0 .5em 0 .5em;
	margin-top: 0em;
    float: left; 
}


#col1{
	width: 100%;
	float: left;
    margin: 1.5em 0;
	margin-left: -14em ;
	min-width: 460px;
}

#col1of2{
	width: 50%;
	float: left;
	margin: 1.5em 0;
    margin-left: -14em;
	min-width: 460px;
}

#col2of2{
	width: 50%;
	margin: 1.5em 0;
	float: left;
    margin-left: -14em;
	min-width: 460px;
}


}/*end of media Query*/



@media all and (max-device-width: 400px), all and (max-width: 398px) {


#portalOuterContainer {
	 	position:static;
		float:none;
		clear:both;
		width:auto;
		height:auto;
		overflow:visible;
		min-width:0;
		min-height:0
}

#portalContainer{
		position:static;
		float:none;
		clear:both;
		width:auto;
		height:auto;
		overflow:visible;
		min-width:0;
		min-height:0
}

#siteNavWrapper{
	margin: 0;
	padding: 0;
	background: #4a6594;
}

#toolMenuWrap{
	color: #000;
	padding: 0em 0em .5em 0em;
	margin: 0 auto;
	background-color: #DBDBDB;
    width: 380px;
	height:100%;
}

#toolMenu li{
	width: 380px;
	padding: 5% 0% !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0 rgba(255, 255, 255, 0.1) inset;
	border-radius: 1px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#siteLinkList li {
    width:45% !important;
	display:block;
	float:left;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0 rgba(255, 255, 255, 0.1) inset;
	padding: 10px 5px;
	border-radius: 1px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
    
#siteLinkList li span {
	display: block;
	padding: 8px 13px 3px 2px;
	margin: 0pt;
    font-size: .85em;
}

#content{
	padding: 0 .5em 0 .5em;
	margin-top: 0em;
    float: left; 
}


#col1{
	width: 100%;
	float: left;
    margin: 1.5em 0;
	margin-left: -14em;
	min-width: 360px;
}

#col1of2{
	width: 50%;
	float: left;
	margin: 1.5em 0;
    margin-left: -14em;
	min-width: 360px;
}

#col2of2{
	width: 50%;
	margin: 1.5em 0;
	float: left;
    margin-left: -14em;
	min-width: 360px;
}


}/*end of media Query*/

@media all and (max-device-width: 340px), all and (max-width: 338px) {


#portalOuterContainer {
	 	position:static;
		float:none;
		clear:both;
		width:auto;
		height:auto;
		overflow:visible;
		min-width:0;
		min-height:0
}

#portalContainer{
		position:static;
		float:none;
		clear:both;
		width:auto;
		height:auto;
		overflow:visible;
		min-width:0;
		min-height:0
}

#siteNavWrapper{
	margin: 0;
	padding: 0;
	background: #4a6594;
}

#toolMenuWrap{
	color: #000;
	padding: 0em 0em .5em 0em;
	margin: 0 auto;
	background-color: #DBDBDB;
    width: 320px;
	height:100%;
}

#toolMenu li{
	width: 320px;
	padding: 5% 0% !important;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0 rgba(255, 255, 255, 0.1) inset;
	border-radius: 1px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#siteLinkList li {
    width:45% !important;
	display:block;
	float:left;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0 rgba(255, 255, 255, 0.1) inset;
	padding: 10px 5px;
	border-radius: 1px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
    
#siteLinkList li span {
	display: block;
	padding: 8px 13px 3px 2px;
	margin: 0pt;
    font-size: .85em;
}

#content{
	padding: 0 .5em 0 .5em;
	margin-top: 0em;
    float: left; 
}


#col1{
	width: 100%;
	float: left;
    margin: 1.5em 0;
	margin-left: -14em;
	min-width: 300px;
}

#col1of2{
	width: 50%;
	float: left;
	margin: 1.5em 0;
    margin-left: -14em;
	min-width: 300px;
}

#col2of2{
	width: 50%;
	margin: 1.5em 0;
	float: left;
    margin-left: -14em;
	min-width: 300px;
}


}/*end of media Query*/

/*End of Mobile Dev Section*/
/********************************/